$font-color: #ffffff;
$primary-color: #000000;
$secondary-color: #6889eb;

* {
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 0.6em;
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: dimgray;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(5, 5, 5), rgb(23, 24, 24));
  color: $font-color;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  padding: 0 5rem;
  margin: 0;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding: 0 0.5rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

    &-home {
      font-family: 'Monoton', cursive;
      font-size: clamp(1.2rem, 1.95vw, 2.5rem);
      letter-spacing: 3px;
      padding-left: 0.2rem;

      a {
        color: $secondary-color;
      }
    }

    &-socials {
      display: flex;
      align-items: center;
      font-size: clamp(1.1rem, 1.9vw, 3rem);

      &-link {
        margin-right: 1rem;
      }

      .github {
        color: $font-color;
      }

      .linkedin {
        color: #3f4bec;
      }

      .whatsapp {
        color: green;
      }

      .email {
        color: rgb(86, 6, 151);
      }
    }
  }

  .section {
    margin-top: clamp(2.2rem, 3.5vw, 3.5rem);

    @media screen and (max-width: 768px) {
      padding: 0 0.2rem;
    }

    .intro-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      padding: 0.2rem;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 1.5rem;
      }

      &-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          display: block;
          width: 80%;
          height: 80%;
          object-fit: cover;
          border-radius: 50%;
          border: 0.35rem dotted $secondary-color;
        }
      }

      &-right {
        text-align: center;

        &-name {
          font-size: clamp(2rem, 3.8vw, 4.5rem);
          font-weight: 700;
          line-height: 1.2;
        }

        &-job-role {
          position: relative;
          font-size: clamp(1.2rem, 1.8vw, 3.5rem);
          font-style: italic;
          font-weight: 400;

          &::after {
            position: absolute;
            content: '';
            left: 50%;
            bottom: -30px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $secondary-color;
            box-shadow: 0 0 5px $secondary-color;
          }
        }

        &-tagline {
          margin-top: 40px;
          text-align: left;
          padding: 0;
          opacity: 0.5;
          font-size: clamp(0.8rem, 0.9rem, 1rem);
        }
      }
    }

    &-header {
      position: relative;
      width: max-content;
      padding: 0 0 0.1rem 0;
      font-size: clamp(1.2rem, 1.5vw, 3.5rem);

      &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: calc(80% - 0.5rem);
        height: 2px;
        border-radius: 2px;
        box-shadow: 0 0 2px $secondary-color;
        background: $secondary-color;
      }
    }

    &-details {
      margin-top: 1rem;
      font-size: clamp(0.9rem, 1.35vw, 1.5rem);
    }

    &-skills-grid {
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      margin-top: 1rem;
      padding-bottom: 0.5rem;

      &-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: clamp(3.8rem, 5.55vw, 5rem);
        border: 1px solid $secondary-color;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-bottom-right-radius: 1.2rem;
        box-shadow: 0px 1px 1px $secondary-color;

        &-logo {
          font-size: clamp(3rem, 4.5vw, 5rem);
          margin-bottom: 0.5rem;
        }

        &-body {
          font-size: clamp(0.8rem, 1.1vw, 1.5rem);
        }
      }
    }

    &-services-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: calc(1rem + 1vw);
      flex-wrap: nowrap;
      overflow: auto;
      margin-top: 1rem;
      padding-bottom: 0.5rem;

      @media screen {
        padding: .15rem;
      }

      &-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $secondary-color;
        border-bottom-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        overflow: hidden;

        &-logo {
          width: 100%;

          img {
            width: 100%;
            height: calc(30vh + 4rem);
            object-fit: cover;
          }
        }

        &-body {
          height: 100%;
          display: flex;
          flex-direction: column;
          padding: 1rem 0.1rem;

          &-title {
            font-size: clamp(1.1rem, 1.5vw, 1.8rem);
            text-align: center;
            margin-bottom: 0.5rem;
          }

          &-text {
            font-family: 'Klee One', cursive;
            font-size: clamp(0.8rem, 1vw, 1.5rem);
            padding: 0 0.5rem;
          }
        }
      }
    }

    &-official-partners-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.2rem;
      margin-top: 0.8rem;

      &-card {
        .partner-link {
          display: block;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    &-contact-grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-top: 1rem;

      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
      }

      &-form {
        display: flex;
        flex-direction: column;
        width: 80%;

        @media screen and (max-width: 768px) {
          width: 98%;
        }

        label,
        .textarea-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 1rem;
          font-size: clamp(0.75rem, 1vw, 1.5rem);

          input {
            height: clamp(2.2rem, 3vw, 5.5rem);
            font-size: clamp(0.9rem, 1vw, 1.5rem);
            border: none;
            padding: 0 0.3rem;
            border-radius: 3px;
            background: #d8d5d5;
            outline: none;

            &::placeholder {
              color: $primary-color;
            }
          }

          .textarea {
            font-size: clamp(0.9rem, 1vw, 1.5rem);
            border-radius: 3px;
            background: #d8d5d5;
            padding: 0 0.3rem;
            outline: none;

            &::placeholder {
              color: $primary-color;
            }
          }
        }

        .btn {
          width: max-content;
          outline: none;
          border: none;
          padding: clamp(0.85rem, 1.5vw, 2.5rem);
          font-size: clamp(0.95rem, 1.2vw, 1.5rem);
          font-weight: 600;
          border-radius: 5px;
          background: $secondary-color;
          cursor: pointer;
        }
      }

      &-image {
        width: 100%;
        height: 100%;

        @media screen and (max-width: 768px) {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin-top: 1rem;
    border-top: 1px solid $secondary-color;
    padding: 1.5rem 0;
    min-height: 30vh;
    // background: rgb(107, 104, 104);

    &-connect {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 60%;

        &-header {
          font-size: clamp(1.2rem, 1.5vw, 1.8rem);
        }

        &-socials {
          margin-top: 0.5rem;

          &-link {
            font-size: clamp(1.5rem, 3vw, 4.5rem);
            margin-right: 2.5rem;

            .fa-globe {
              color: $secondary-color;
            }

            .fa-github {
              color: $font-color;
            }

            .fa-linkedin {
              color: #3f4bec;
            }

            .fa-whatsapp {
              color: green;
            }

            .fa-envelope {
              background: -webkit-linear-gradient(
                45deg,
                #ce0e0e,
                #22c213,
                #0000ff
              );
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }

      &-contact-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: clamp(0.8rem, 1.2vw, 1rem);
        color: steelblue;
      }
    }
  }
}
